

body{
  background: #F7F7F7;
  padding: 80px 0 0 0;
}

body, input, button{
  font-family: 'Roboto Condensed', sans-serif;
}
header{
  width: 100%;
  height: 80px;
  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  z-index: 5;
  background: #25b99a;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

header input{
  width: 100%;
  height: 50px;
  float: left;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-indent: 18px;
  padding: 0 60px 0 0;
  background: rgba(255, 255, 255, 0.2);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 0px;
  box-shadow: none;
  outline: none;

  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  -o-appearance:none;
  appearance:none;
}

header input::-webkit-input-placeholder{
  color: rgba(255, 255, 255, 0.75);
}

header img{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
  border-radius: 25px;
  background: #fff;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  -o-appearance:none;
  appearance:none;
}

.container{
  width: 100%;
  float: left;
  padding: 15px;
}

ul.todo{
  width: 100%;
  margin-left: -25px;
  list-style-type: none;
}

ul.todo li{
  width: 100%;
  min-height: 50px;
  float: left;
  font-size: 14px;
  font-weight: 400;
  color: #444;
  line-height: 22px;
  background: #FFF;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
  margin-bottom: 10px;
  padding: 14px 100px 14px 14px;
}

ul.todo li:last-of-type{
  margin: 0;
}

ul.todo li .buttons{
  width: 100px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}

ul.todo li .buttons button{
  width: 50px;
  height: 50px;
  float: left;
  background: none;
  position: relative;
  border: 0px;
  box-shadow: none;
  outline: none;


  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  -o-appearance:none;
  appearance:none;
}

ul.todo li .buttons button:last-of-type::before{
  content: '';
  width: 1px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 0;
  background: #edf0f1;
}

ul.todo li .buttons button.remove a span.glyphicon{
  color: #CCC;
}

ul.todo li .buttons button.remove a span.glyphicon:hover{
  transition: 0.3s ease;
  color: red;
}


ul.todo li .buttons button.complete a span.glyphicon{
  color: #CCC;

  -webkit-transition:background 0.2s ease;
  -moz-transition:background 0.2s ease;
  -ms-transition:background 0.2s ease;
  -o-transition:background 0.2s ease;
  transition: background 0.2s ease;
}

ul.todo li .buttons button.complete a span.glyphicon:hover{
  transition: 0.3s ease;
  color: green;
}


ul.todo#completed li .buttons button.complete a span.glyphicon{
  transition: 0.3s ease;
  color: green;
}


ul.todo#completed:not(:empty){
  position: relative;

}


ul.todo#completed:not(:empty)::before{
  content: '';
  width: 150px;
  height: 1px;
  background: #CCC;
  position: absolute;
  top: 30px;
  left: 50%;
  margin: 0 0 0 -75px;
}

#activeTasks{
  font-size: 16px;
  color:red;
}

#completedTasks{
  font-size:16px;
  color:green;
}

div.navbar div.col-xs-12 #clearAll{
  margin-top: 15px;
}
